.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* Asegúrate de que el contenedor tenga posición relativa */
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-image: linear-gradient(45deg, #330808,
            #3a2c09);
    border-radius: 2.5em;
    padding: 30px;
    width: 300px;
    height: 350px;
    border: 4px solid #ff5900
}




.button {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background: #ff5900;
    color: black;
    padding: 0.7em 5.5em;
    display: flex;
    align-items: center;
    border: 2px solid #66da4300;
    border-radius: 5em;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

.button:hover {
    border: 2px solid #ff5900;
    background: #00000000;
    color: #ffffff;
}

.button:active {
    border: 2px solid #66da4300;
    background: #ff5900;
    color: black;
}

.input {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #66da4300;
    border-bottom: 1px solid #ff5900;
    outline: none;
    background-color: transparent;
    color: #97D6DF;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s;
}

.input:focus {
    border: 1px solid #3cff0000;
    border-bottom: 1px solid #ff5900;
    background-color: transparent;
    color: #97D6DF;
}

.input::placeholder {
    color: #9b725b;
}