@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fondo: #1A1D1A;
  --botones: #FF3E1A;
  --titulos: #97D6DF;
  --subTitulos: #447988;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #1A1D1A;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Inter", sans-serif;
  color: #447988;

}

.links {
  text-decoration: none;
  color: #447988;
}

ul {
  list-style: none;
}