.form {
    background: transparent;
    border: 2px solid #FF3E1A;
    position: relative;
    z-index: 10;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 20px;
    width: 420px;
    padding: 30px 40px;
    position: relative;
    z-index: 10;
    margin-top: 25px;

}


.register {
    background-image: url(../../../public/assets/loginyregister/lyr2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.right {
    position: absolute;
    display: flex;
    margin-left: 1100px;
    margin-top: 350px;
    height: 600px;
    width: 1000px;
}

.left {
    height: 1001px;
    width: 1000px;
    position: absolute;
    margin-right: 800px;
    margin-top: 650px;
}

.inputr {
    background: #ff0000;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 10px;
    width: 100%;
}