.form {
    background: transparent;
    border: 2px solid #FF3E1A;
    position: relative;
    z-index: 10;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 20px;
    width: 420px;
    padding: 30px 40px;
    position: relative;
    z-index: 10;
    margin-top: 25px;

}


.register::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(26, 29, 26, 0.4);
}

.right {
    position: absolute;
    display: flex;
    margin-left: 1000px;
    margin-top: 300px;
    height: 600px;
    width: 1100px;
}





.left {
    height: 1001px;
    width: 1000px;
    position: absolute;
    margin-right: 800px;
    margin-top: 750px;
}

.inputr {
    background: #ff0000;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 10px;
    width: 100%;
}

@media screen and (max-width: 768px) {

    .left,
    .right {
        display: none;
    }
}



@media screen and (max-width: 390px) {

    .left,
    .right {
        display: none;
    }

    .form {
        width: 200px;
        padding: 30px 40px;
        margin-top: 25px;
    }
    
}