.stroke-text {
    -webkit-text-stroke: 1px #97D6DF;
    /* Color del contorno */
    color: transparent;
    text-transform: uppercase;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out forwards;
}